#!/usr/bin/perl
{
  'has_binary_qt_package' => 1,
  'package_manager' => 'apt',
  'cmake' => 'cmake',
  'qt_configure_arguments' => [
                                '-nomake',
                                'examples',
                                '-nomake',
                                'tests',
                                '-skip',
                                'qttranslations',
                                '-skip',
                                'qtserialport',
                                '-skip',
                                'qt3d',
                                '-skip',
                                'qtlocation',
                                '-skip',
                                'qtwayland',
                                '-skip',
                                'qtsensors',
                                '-skip',
                                'qtgamepad',
                                '-skip',
                                'qtspeech',
                                '-skip',
                                'qtcharts',
                                '-skip',
                                'qtx11extras',
                                '-skip',
                                'qtmacextras',
                                '-skip',
                                'qtvirtualkeyboard',
                                '-skip',
                                'qtpurchasing',
                                '-skip',
                                'qtdatavis3d',
                                '-skip',
                                'qtlottie',
                                '-skip',
                                'qtquick3d',
                                '-skip',
                                'qtpim',
                                '-skip',
                                'qtdocgallery',
                                '-no-warnings-are-errors',
                                '-no-pch',
                                '-opengl',
                                '-xcb-xlib',
                                '-no-egl',
                                '-no-icu'
                              ],
  'source_dependencies' => [
                             'build-essential',
                             'cmake',
                             'curl',
                             'freeglut3-dev',
                             'git',
                             'libasound2',
                             'libasound2-dev',
                             'libdouble-conversion1',
                             'libdrm-dev',
                             'libfontconfig1',
                             'libfontconfig1',
                             'libgl1-mesa-dev',
                             'libglvnd-dev',
                             'libharfbuzz-dev',
                             'libjack-dev',
                             'libjack0',
                             'libnspr4',
                             'libnspr4',
                             'libnss3',
                             'libnss3',
                             'libpulse0',
                             'libpulse0',
                             'libsdl2-dev',
                             'libssl-dev',
                             'libterm-readline-gnu-perl',
                             'libudev-dev',
                             'libxcb-xinerama0-dev',
                             'libxcomposite1',
                             'libxcomposite1',
                             'libxcursor1',
                             'libxcursor1',
                             'libxi-dev',
                             'libxmu-dev',
                             'libxrandr-dev',
                             'libxslt1.1',
                             'libxslt1.1',
                             'libxtst6',
                             'libxtst6',
                             'make',
                             'mesa-common-dev',
                             'mesa-utils',
                             'nodejs',
                             'patchelf',
                             'python',
                             'unzip',
                             'xdg-user-dirs',
                             'zlib1g-dev'
                           ]
}
